<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<LINK href="http://dev-intelbras.dropit.in/sites/all/themes/intelbras/fonts/MuseoSans/stylesheet.css" rel="stylesheet" type="text/css">
</head>

<ul class='mls'>
	<li>
		<span>Telefonia</span>
		<ul>
			<li>
				<span>Telefones</span>
				<ul>
					<li><span class="prod-name">Produto 1</span></li>
					<li><span class="prod-name">Produto 2</span></li>
					<li><span class="prod-name">Produto 3</span></li>
					<li><span class="prod-name">Produto 4</span></li>
					<li><span class="prod-name">Produto 5</span></li>
					<li><span class="prod-name">Produto 6</span></li>
					<li><span class="prod-name">Produto 7</span></li>
					<li><span class="prod-name">Produto 8</span></li>
				</ul>
			</li>
			<li>
				<span>Centrais</span>
				<ul>
					<li>
						<span>Analogicas</span>
						<ul>
							<li><span class="prod-name">Produto 1</span></li>
							<li><span class="prod-name">Produto 2</span></li>
							<li><span class="prod-name">Produto 3</span></li>
							<li><span class="prod-name">Produto 4</span></li>
							<li><span class="prod-name">Produto 5</span></li>
							<li><span class="prod-name">Produto 6</span></li>
							<li><span class="prod-name">Produto 7</span></li>
							<li><span class="prod-name">Produto 8</span></li>
						</ul>
					</li>
					<li>
						<span>Digitais</span>
						<ul>
							<li><span class="prod-name">Produto 1</span></li>
							<li><span class="prod-name">Produto 2</span></li>
							<li><span class="prod-name">Produto 3</span></li>
							<li><span class="prod-name">Produto 4</span></li>
							<li><span class="prod-name">Produto 5</span></li>
							<li><span class="prod-name">Produto 6</span></li>
							<li><span class="prod-name">Produto 7</span></li>
							<li><span class="prod-name">Produto 8</span></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
		<span>Interfonia</span>
		<ul>
			<li>
				<span>Interfones</span>
				<ul>
					<li>
						<span>Com fio</span>
						<ul>
							<li><span class="prod-name">Produto 1</span></li>
							<li><span class="prod-name">Produto 2</span></li>
							<li><span class="prod-name">Produto 3</span></li>
							<li><span class="prod-name">Produto 4</span></li>
							<li><span class="prod-name">Produto 5</span></li>
							<li><span class="prod-name">Produto 6</span></li>
							<li><span class="prod-name">Produto 7</span></li>
							<li><span class="prod-name">Produto 8</span></li>
						</ul>
					</li>
					<li>
						<span>Sem fio</span>
						<ul>
							<li><span class="prod-name">Produto 1</span></li>
							<li><span class="prod-name">Produto 2</span></li>
							<li><span class="prod-name">Produto 3</span></li>
							<li><span class="prod-name">Produto 4</span></li>
							<li><span class="prod-name">Produto 5</span></li>
							<li><span class="prod-name">Produto 6</span></li>
							<li><span class="prod-name">Produto 7</span></li>
							<li><span class="prod-name">Produto 8</span></li>
						</ul>
					</li>
					
				</ul>
			</li>
			<li>
				<span>Cameras</span>
				<ul>
					<li>
						<span>Sem fio</span>
						<ul>
							<li><span class="prod-name">Produto 1</span></li>
							<li><span class="prod-name">Produto 2</span></li>
							<li><span class="prod-name">Produto 3</span></li>
							<li><span class="prod-name">Produto 4</span></li>
							<li><span class="prod-name">Produto 5</span></li>
							<li><span class="prod-name">Produto 6</span></li>
							<li><span class="prod-name">Produto 7</span></li>
							<li><span class="prod-name">Produto 8</span></li>
						</ul>
					</li>
					<li>
						<span>Com fio</span>
						<ul>
							<li><span class="prod-name">Produto 1</span></li>
							<li><span class="prod-name">Produto 2</span></li>
							<li><span class="prod-name">Produto 3</span></li>
							<li><span class="prod-name">Produto 4</span></li>
							<li><span class="prod-name">Produto 5</span></li>
							<li><span class="prod-name">Produto 6</span></li>
							<li><span class="prod-name">Produto 7</span></li>
							<li><span class="prod-name">Produto 8</span></li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<span>Centrais</span>
				<ul>
					<li><span class="prod-name">Produto 1</span></li>
					<li><span class="prod-name">Produto 2</span></li>
					<li><span class="prod-name">Produto 3</span></li>
					<li><span class="prod-name">Produto 4</span></li>
					<li><span class="prod-name">Produto 5</span></li>
					<li><span class="prod-name">Produto 6</span></li>
					<li><span class="prod-name">Produto 7</span></li>
					<li><span class="prod-name">Produto 8</span></li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
		<span>Alarmes</span>
		<ul>
			<li>
				<span>Presença</span>
				<ul>
					<li><span class="prod-name">Produto 1</span></li>
					<li><span class="prod-name">Produto 2</span></li>
					<li><span class="prod-name">Produto 3</span></li>
					<li><span class="prod-name">Produto 4</span></li>
					<li><span class="prod-name">Produto 5</span></li>
					<li><span class="prod-name">Produto 6</span></li>
					<li><span class="prod-name">Produto 7</span></li>
					<li><span class="prod-name">Produto 8</span></li>
				</ul>
			</li>
			<li id="incendio">
				<span>Incendio</span>
				<ul>
					<li><span class="prod-name">Amarelo</span></li>
					<li><span class="prod-name">Azul</span></li>
					<li><span class="prod-name">Verde</span></li>
					<li><span class="prod-name">Roxo</span></li>
					<li><span class="prod-name">Laranja</span></li>
					<li><span class="prod-name">Marrom</span></li>
					<li><span class="prod-name">Cinza</span></li>
					<li><span class="prod-name">Púrpura</span></li>
				</ul>
			</li>
		</ul>
	</li>
</ul>


<style>

ul {
	list-style: none;
	padding: 0;
	font-family: museo-sans;
	font-weight: 300;
	font-size: 14px;
}
ul li {
	position: relative;
}
ul li span {
	line-height: 40px;
	box-shadow: 1px 0px 0px 1px white;
	text-indent: 20px;
	-webkit-transition: .6s text-indent, .2s color, .3s background-color, .5s opacity;
	background-color: #dfdfdf;
	color: #828282;
	display: block;
	height: 40px;
	position: relative;
	text-shadow: 0px 1px 1px white;
}
ul li span.hidden {
	-webkit-transition: .6s text-indent, .2s color, .3s background-color, .5s opacity;
	opacity: 0;
}
ul li span:after {
	content: "";
	display: block;
	position: absolute;
	width: 40px;
	height: 36px;
	background: url('http://dev-intelbras.dropit.in/sites/all/themes/intelbras/img/acordeonopened.png') no-repeat center center;
	right: 8px;
	top: 0px;
	-webkit-transition: 1s all;
}
li.active > span:after {
	-webkit-transform: rotateX(180deg);
	margin-top: 3px;
}
ul.last-list > li > span:after {
	background: none;
}
ul.last-list {
	max-height: 240px;
	overflow: scroll;
	padding-top: 40px;
	position: static;
}
.mls > li > span, li.active > span {
	background-color: rgb(124, 173, 44);
	color: white;
	-webkit-transition: .8s text-indent .9s, .2s color, .3s background-color;
	text-shadow: none;
}

/* hidde childs */
li ul {
	display: none;
}
div.search-wrap {
	height: 40px;
	line-height: 40px;
	text-indent: 0px;
	padding: 0px 40px 0 20px;
	box-shadow: 1px 0px 0px 1px white;
	position: absolute;
	background: #bababa;
	top: 40px;
	left: 0;
	right: 0;
	z-index: 10;
	
}
div.search-wrap:after {
	content: "";
	display: block;
	position: absolute;
	right: 20px;
	top: 0px;
	height: 40px;
	width: 30px;
	background: url('http://www2.psd100.com/ppp/2013/09/2601/search-icon-0926012947.png') no-repeat 97% center;
	background-size: 20px 20px;
	opacity: 0.5;
}
div.search-wrap input {
	width: 100%;
	height: 29px;
	margin-top: 5px;
	border: none;
	background: none;
	background-color: transparent;
	font-size: 14px;
	font-family: museo-sans;
	font-weight: 300;
	font-size: 14px;
	color: white;

}
div.search-wrap input:focus
{
  outline: none;
}
list-padding {}

ul > li.active li > span {
	text-indent: 40px;
}
ul > li.active li.active > span {
	text-indent: 20px;
}



</style>

<script>

(function($)
{
	$(document).ready(function() {
		
		//add search to last child Ul
		$("ul:not(:has(ul))").addClass('last-list').prepend('<div class="search-wrap"><input class="search" /></div>');
		$("ul:not(:has(ul))").each(function() {
			
		});

		//remove propagation from search click
		$('div.search-wrap').click(function(e) {
			e.stopPropagation();
		});
		$('input').keyup(function() {
			$elems = $(this).parent().siblings().find('.prod-name');
			var val = $(this).val();
			$found = $elems.filter(function () {
				patt = new RegExp(val);
				console.log('searching', $(this).val());
				return patt.test(this.innerHTML);
			});
			$elems.not($found).addClass('hidden').delay(500).slideUp();
			$found.removeClass('hidden').slideDown(); //;
		});
		//handle clicks and navigation
		$('.mls li').click(function(e) {
			//active class
			$(this).toggleClass('active');
			$(this).parent().toggleClass('active');
			//animations
			if ($(this).hasClass('active')) {
				$(this).siblings().stop(true, true).animate({ height:"toggle", opacity:"toggle" }, 600);
				$(this).find('> ul').delay(900).fadeToggle(900);
			} else {
				$(this).find('> ul').fadeToggle(600);
				$(this).siblings().stop(true, true).delay(900).animate({ height:"toggle", opacity:"toggle" }, 500);
			}
			e.stopPropagation();
		});
		
	});
	
})(jQuery);

</script>